*.iml
*.apk
*.aab
*.keystore
*.jks

.gradle/
.idea/
.externalNativeBuild/
.cxx/
.DS_Store

local.properties
gradle-app.setting

build/
**/build/
captures/
**/captures/

app/release/
**/release/

/.kotlin/
**/.kotlin/
